header {
    background-color: white;
    padding: 0;
    border-bottom: 1px solid var(--primary);
    position: sticky;
    top: 0;
    z-index: 100;
}

a {
    color: #af1313;
    transition: .2s;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.logo {
    font-weight: bold;
    padding: 1em;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
}

button {
  width: 100px;
  height: 35px;
  margin-right: 1rem;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: var(--primary);
  transition: .2s;
  cursor: pointer;
}

button:hover {
  background-color: #b60c0c;
  transition: .2s;
}
