<footer>
  <div class="footer-con">
    <p class="footer-logo"><strong>Food Fusion</strong></p>
    <div class="address">
      <p>Nwaniba Street, Uyo</p>
      <p>Nigeria</p>
      <p>+234 812 000 0000</p>
      <p>
        <a href="tel:+2348120000000">Make a Call</a>
      </p>
    </div>
  </div>
  <div class="footer-con">
    <p class="header"><strong>Opening Hours</strong></p>
    <div class="address">
      <p>Monday-Friday: 6am-4pm</p>
      <p>Saturday: 7am-4pm</p>
      <p>Sunday: Closed</p>
    </div>
  </div>
  <div class="footer-con">
    <p class="header"><strong>Subscribe To Our Newsletter</strong></p>
    <div class="input-field">
      <input type="email" placeholder="Enter your email">
      <button><i class="fas fa-arrow-right"></i></button>
    </div>
  </div>
</footer>
