footer {
  padding: 5rem 2rem;
  border-top: 1px solid #ff000083;
}

.footer {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

footer > p {
  color: var(--gray);
  font-size: 0.9rem;
  margin-top: 4rem;
}

.footer-logo {
  color: var(--primary);
  font-size: 2rem;
}

.header {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  line-height: clamp(30px, 5vw, 35px);
}

.address {
  font-size: 1rem;
  line-height: 30px;
  color: var(--gray);
}

.address a {
  color: var(--primary);
  font-weight: 500;
}

.input-field {
  /* width: 260px; */
  width: max-content;
  border: 1.5px solid var(--primary);
  border-radius: 50px;
  height: 2.5rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field input {
  border: none;
  height: 100%;
  width: 200px;
  background-color: transparent;
  outline: none;
  padding: 0 1rem;
}

.input-field input, .input-field input::placeholder {
  font-size: 1rem;
}

.input-field button {
  height: 2.5rem;
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
  color: white;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  transition: .2s;
}

.input-field button:hover {
  background-color: #b80808;
  transition: .2s;
}

@media only screen and (max-width: 500px){
  footer {
    text-align: center;
  }

  .input-field {
    margin: auto;
    margin-top: 0.5rem;
  }
}
