<app-header [cartLength]="cartLength"></app-header>

<app-not-found
  [visible]="!cart || cart.items.length < 1"
  notFoundMessage="Cart is empty! Please add items"
  resetLinkText="Add Items To Cart"
  imageUrl="/assets/images/not-found/empty-cart.svg">
</app-not-found>

<div *ngIf="cart && cart.items.length > 0" class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div class="img-con">
        <img src="{{cartItem.food.imageUrl}}" [alt]="cartItem.food.name">
      </div>
      <div class="product-info">
        <div class="name">
          <a routerLink="/food/{{cartItem.food.id}}">{{cartItem.food.name}}</a>
        </div>
        <select #quantitySelect (change)="changeQuantity(cartItem, quantitySelect.value)" value={{cartItem.quantity}}>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <div class="price">
          ₦{{cartItem.itemPrice}}
        </div>
      </div>
      <div class="remove-btn-con">
        <button class="remove-btn" (click)="removeFromCart(cartItem)"><i class="fas fa-trash"></i> Remove</button>
      </div>
    </li>
    <button class="clear-all" (click)="clearCart()"><i class="fas fa-trash-alt"></i> Clear All</button>
  </ul>

  <div class="checkout">
    <div>
      <div class="foods-count"><span class="checkout-title">No. of Items: </span> {{cart.items.length}}</div>
      <div class="total-price"><span class="checkout-title">Price: </span>₦{{totalPrice}}</div>
      <button class="add-more" routerLink="/products"><i class="fa-solid fa-burger"></i> Add more foods</button>
      <button class="checkout-btn" routerLink="/checkout"><i class="fas fa-credit-card"></i> Checkout</button>
    </div>
  </div>

</div>

<app-footer></app-footer>
