.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: calc(100vh - 4rem);
  max-height: 650px;
}

.hero-img {
  position: relative;
}

.hero-img-icon {
  height: 4rem;
  position: absolute;
}

.pepper {
  right: 30px;
  top: 70px;
  z-index: 100;
}

.catnip {
  bottom: 40px;
  left: 40px;
}

.tomatoes {
  bottom: 70px;
  right: 30px;
}

.hero-txt h1 {
  /* font-size: 4rem; */
  font-size: clamp(2rem, 5vw, 4rem);
  line-height: clamp(40px, 6vw, 75px);
  /* line-height: 75px; */
}

.hero-txt h1 span {
  color: var(--primary);
}

.hero-txt p {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  line-height: clamp(30px, 5vw, 35px);
  margin-top: 1rem;
}

.hero-txt button {
  height: 40px;
  width: 150px;
  font-size: 1rem;
  /* font-size: clamp(1rem, 2.5vw, 1.4rem); */
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: .2s;
}

.hero-txt button > i {
  margin-left: 0.8rem;
}

.hero-txt button:hover{
  background-color: #b40303;
  box-shadow: 0 3px 5px #00000042;
  transition: .2s;
}

@media only screen and (max-width: 900px){
  .hero-img img:nth-child(1) {
    height: 450px;
  }
}

@media only screen and (max-width: 690px){
  .hero {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding-top: 4rem;
  }

  .hero-img img:nth-child(1) {
    height: auto;
    width: 100%;
    max-width: 400px;
  }
}
