<div class="hero">
  <div class="hero-txt">
    <h1>Enjoy Delicious <span>Meals</span></h1>
    <p>Keep it going with simple, delicious recipes. From made-ahead lunches to fuss-free brunches</p>
    <button routerLink="/products">Order Now<i class="fas fa-arrow-right"></i></button>
  </div>
  <div class="hero-img">
    <img src="../../../assets/images/landing/hero-img.jpg" alt="pizza">
    <img class="hero-img-icon pepper" src="../../../assets/images/landing/pepper.png" alt="pepper">
    <img class="hero-img-icon tomatoes" src="../../../assets/images/landing/tomatoes.png" alt="tomatoes">
    <img class="hero-img-icon catnip" src="../../../assets/images/landing/catnip.png" alt="catnip">
  </div>
</div>
