.about {
  padding: 5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.about-img img {
  height: 400px;
}

.about-info p {
  color: var(--gray);
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  line-height: clamp(30px, 5vw, 35px);
}

.about-info h2 {
  font-size: clamp(1.5rem, 3.5vw, 2.3rem);
  line-height: clamp(30px, 5vw, 35px);
  margin-bottom: 1rem;
}

.about-info h2 span {
  color: var(--primary);
}

@media only screen and (max-width: 950px){
  .about-img img {
    height: 300px;
  }

  .about {
    gap: 1rem;
  }
}

@media only screen and (max-width: 750px){
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }
}
