.about {
  padding: 5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.about-img img {
  height: 400px;
}

.about-info h2 {
  font-size: clamp(1.5rem, 3.5vw, 2.3rem);
  line-height: clamp(30px, 5vw, 35px);
  margin-bottom: 1rem;
}

.about-info h2 span {
  color: var(--primary);
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.info-item:nth-last-child(1){
  margin-bottom: 0;
}

.info-item .icon {
  height: 5rem;
  width: 5rem;
  min-width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ff00005d;
}

.info-item .icon img {
  height: 3rem;
}

.info-header {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  line-height: clamp(25px, 2vw, 35px);
}

.info-content {
  font-size: clamp(0.9rem, 2vw, 1rem);
  /* line-height: clamp(30px, 5vw, 35px); */
}

@media only screen and (max-width: 950px){
  .about-img img {
    height: 300px;
  }

  .about {
    gap: 1rem;
  }
}

@media only screen and (max-width: 750px){
  .about {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-img {
    margin: auto;
  }

  .about-info h2 {
    text-align: center;
    margin: 10px 0 0.5rem 0;
  }
}
