<div class="about">
  <div class="about-img">
    <img src="../../../assets/images/landing/pizza-about.png" alt="pizza">
  </div>
  <div class="about-info">
    <h2>Why Choose <span>Us</span></h2>

    <!-- item -->
    <div class="info-item">
      <div class="icon">
        <img src="../../../assets/images/landing/hamburger.png" alt="burger">
      </div>
      <div class="info-con">
        <p class="info-header"><strong>Choose Your Favorite Foods</strong></p>
        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nulla quam veniam</p>
      </div>
    </div>

    <!-- item -->
    <div class="info-item">
      <div class="icon">
        <img src="../../../assets/images/landing/food-delivery.png" alt="delivery">
      </div>
      <div class="info-con">
        <p class="info-header"><strong>Timely Delivery</strong></p>
        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nulla quam veniam</p>
      </div>
    </div>

    <!-- item -->
    <div class="info-item">
      <div class="icon">
        <img src="../../../assets/images/landing/good-food.png" alt="nice-meal">
      </div>
      <div class="info-con">
        <p class="info-header"><strong>Grab delicious meals</strong></p>
        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nulla quam veniam</p>
      </div>
    </div>
  </div>
</div>
