* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --primary: #ce0b0b;
    -gray: #777777;
}

html {
    font-size: 16px;
}

body {
    font-size: 18px;
    max-width: 1100px;
    margin: auto;
}

a {
    text-decoration: none;
}
