* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --primary: #ce0b0b;
    --gray: #414141;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    max-width: 1100px;
    margin: auto;
}

a {
    text-decoration: none;
}

router-outlet + * {
  display: block;
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
