* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

:root {
    --primary: #e72929;
}

html {
    font-size: 16px;
}

body {
    font-size: 18px;
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}