<div class="main">
    <div class="search-con">
        <input
          type="text"
          placeholder="Search Food Fusion!"
          *ngIf="searchBar !== 'true'"
          (click)="searchItem()">
        <input
          type="text"
          placeholder="Search Food Fusion!"
          [(ngModel)]="searchTerm"
          (input)="search()"
          *ngIf="searchBar == 'true'"
          appAutofocus>
        <i class="fas fa-search"></i>
    </div>
</div>
<!-- force autofocus on input field -->
<!-- {{ myInput.focus() }} -->
