<app-not-found
  [visible]="!food"
  notFoundMessage="Oops!! The requested food is not available!"
  resetLinkText="Back to Home Page"
  imageUrl="/assets/images/not-found/empty-list.svg">
</app-not-found>

<div *ngIf="food">
  <div class="back-btn-con">
    <button routerLink="/" class="back-btn"><i class="fa-solid fa-shrimp"></i> See all foods</button>
  </div>

  <div class="container">
    <div class="img-con">
      <img [src]="food.imageUrl" alt="food.name">
    </div>
    <div class="details">
      <div class="header">
        <span class="name">{{food.name}}</span>
        <span class="favorite {{food.favorite?'':'not'}}"><i class="fas fa-heart"></i></span>
      </div>
      <div class="rating">
        <star-rating
          [value]="food.stars"
          [totalstars]='5'
          checkedcolor='#ce0b0b'
          uncheckedcolor='#ccc'
          size='20px'
          [readonly]='true'></star-rating>
      </div>
      <div class="origins">
        <span *ngFor="let origin of food.origins">{{origin}}</span>
      </div>
      <div class="tags">
        <app-tags [foodPageTags]="food.tags"></app-tags>
      </div>

      <div class="cook-time">
        <span>
          Time to cook: About <strong>{{food.cookTime}}</strong> minutes
        </span>
      </div>

      <div class="price">
        <span><span>Price:</span> ₦{{food.price}}</span>
      </div>

      <button class="cart-btn" (click)="addToCart()" *ngIf="!itemInCart">
        <span class="material-symbols-outlined plus">
          add_circle
        </span> Add To Cart
      </button>
      <button class="cart-btn" style="background-color: #adabab; cursor: default" *ngIf="itemInCart">
        <span class="material-symbols-outlined plus">
          add_circle
        </span> Item already in cart
      </button>
    </div>
  </div>
</div>
